@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  min-height: 100vh;
  display: flex;
}
.header__content {
  flex-grow: 1;
  background: url(../img/header-bg.jpg) no-repeat center / cover;
   color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header__title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}
.header__desc {
  font-size: 18px;
}