@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.ads {
  background: url(../img/ads.jpg);
  height: 557px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.ads__title {
  background: rgba(186, 186, 186, 0.5);
  width: 400px;
  height: 154px;
  padding: 20px 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 40px;
  left: 50px;
  position: relative;
}

.ads__span {
  margin-top: 20px;
}