@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
nav{
  background: #322E41;
}
.nav__display{
  display: flex;
  justify-content: space-between;
}
.nav__logo{
  padding:  14px 0;
}
.nav__menu{
  color: #fff;
  display: flex;
  padding: 23px 23px;
  font-size: 16px;
  font-weight: 400;
  transition: 200ms;  gap: 30px;
}
.nav__menu .nav__link:hover{
  color: #FFE600;
  
}